@tailwind base;
@tailwind components;
@tailwind utilities;

.squada-one-regular {
  font-family: "Squada One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg-chad {
  background-image: url('https://qph.cf2.quoracdn.net/main-qimg-d10365c0d88404820cb52a5a91628b0d');
}

.loader {
  overflow: hidden;
  position: relative;
  border-radius: 40px;
  background: repeating-linear-gradient(90deg, 
                                          rgb(229 231 235) 0px, rgb(229 231 235) 12px,
                                          transparent 12px, transparent 15px
                                          );
  height: 16px;
  width: 120px;
  background-size: 15px 100%; /* Adjust the width of the lines */
  animation: move-lines 0.5s linear infinite;
}

@keyframes move-lines {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 15px 0; /* Matches the background size width */
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
